jwsccwebclientA/web/WEB-INF/wsdl/DESKTOP-49LFKAA_8080/jwsccA/CreditCardServiceA.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jwsccA/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jwsccA/" name="CreditCardServiceA">
<types>
<xsd:schema>
<xsd:import namespace="http://jwsccA/" schemaLocation="http://DESKTOP-49LFKAA:8080/jwsccA/CreditCardServiceA?xsd=1"/>
</xsd:schema>
</types>
<message name="List">
<part name="parameters" element="tns:List"/>
</message>
<message name="ListResponse">
<part name="parameters" element="tns:ListResponse"/>
</message>
<message name="Charge">
<part name="parameters" element="tns:Charge"/>
</message>
<message name="ChargeResponse">
<part name="parameters" element="tns:ChargeResponse"/>
</message>
<message name="Read">
<part name="parameters" element="tns:Read"/>
</message>
<message name="ReadResponse">
<part name="parameters" element="tns:ReadResponse"/>
</message>
<message name="Update">
<part name="parameters" element="tns:Update"/>
</message>
<message name="UpdateResponse">
<part name="parameters" element="tns:UpdateResponse"/>
</message>
<portType name="CreditCardServiceA">
<operation name="List">
<input wsam:Action="http://jwsccA/CreditCardServiceA/ListRequest" message="tns:List"/>
<output wsam:Action="http://jwsccA/CreditCardServiceA/ListResponse" message="tns:ListResponse"/>
</operation>
<operation name="Charge">
<input wsam:Action="http://jwsccA/CreditCardServiceA/ChargeRequest" message="tns:Charge"/>
<output wsam:Action="http://jwsccA/CreditCardServiceA/ChargeResponse" message="tns:ChargeResponse"/>
</operation>
<operation name="Read">
<input wsam:Action="http://jwsccA/CreditCardServiceA/ReadRequest" message="tns:Read"/>
<output wsam:Action="http://jwsccA/CreditCardServiceA/ReadResponse" message="tns:ReadResponse"/>
</operation>
<operation name="Update">
<input wsam:Action="http://jwsccA/CreditCardServiceA/UpdateRequest" message="tns:Update"/>
<output wsam:Action="http://jwsccA/CreditCardServiceA/UpdateResponse" message="tns:UpdateResponse"/>
</operation>
</portType>
<binding name="CreditCardServiceAPortBinding" type="tns:CreditCardServiceA">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="List">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Charge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Read">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CreditCardServiceA">
<port name="CreditCardServiceAPort" binding="tns:CreditCardServiceAPortBinding">
<soap:address location="http://DESKTOP-49LFKAA:8080/jwsccA/CreditCardServiceA"/>
</port>
</service>
</definitions>