jwsccclientA/xml-resources/web-service-references/CreditCardServiceA/wsdl/DESKTOP-49LFKAA_8080/jwsccA/CreditCardServiceA.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://jwsccA/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jwsccA/">

<xs:element name="Charge" type="tns:Charge"/>

<xs:element name="ChargeResponse" type="tns:ChargeResponse"/>

<xs:element name="List" type="tns:List"/>

<xs:element name="ListResponse" type="tns:ListResponse"/>

<xs:element name="Read" type="tns:Read"/>

<xs:element name="ReadResponse" type="tns:ReadResponse"/>

<xs:element name="Update" type="tns:Update"/>

<xs:element name="UpdateResponse" type="tns:UpdateResponse"/>

<xs:complexType name="Update">
<xs:sequence>
<xs:element name="accno" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Charge">
<xs:sequence>
<xs:element name="accno" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ChargeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="List">
<xs:sequence>
<xs:element name="accno" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Read">
<xs:sequence>
<xs:element name="sql" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReadResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>